.label
{
    -fx-background-color: orange;
    -fx-border-color: purple;
    -fx-text-fill: black;
    -fx-alignment: center;
}

.text-field
{
    -fx-background-color: lavender;
    -fx-border-color: lime;
}

.text-area
{
    -fx-background-color: lavender;
    -fx-border-color: lime;
}

.button
{
    -fx-background-color: cyan;
    -fx-border-color: green;
}